body{
    font-family: $main-font;
    font-size: $main-font-size;
    background: $main-bg-color;



    .bodyC {
        position:relative;
        padding:0;
        background-color: $bodyC_bg;
        margin-right:-15px;
    }
}

