.sidebarC { 
    background-color: $main_bg_color; 
    color: white;
    position:relative;

    header { 
        position:relative;
        background-color: $darkred;
        height:110px; 
        font-size:1.25rem;
        margin:0 -15px;

        .imgText {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            left:12%;

            .profileImg {
                border: 3px solid white;
            }
        }

        p { 
            display:inline;
            @include addPadding(0 0 0 10px);
            }
    }


    .sNav {
        font-size:1.45rem;
        ul {
            margin: 5px -15px 0;
            li {
                margin-top:13px;
                @include addPadding(12px 0 12px 14%);

                li:hover{
                    background-color:$nav_hover;
                    cursor:pointer;
                    color:white;
                }
            }
        }

        i{
            margin-right: 10px;
        }
        span{
            margin-right: 10px;
        }
    }
    


}